{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card mx-auto" style="width: 25rem; margin-top: -25rem;">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <div class="card-title">Вход</div>
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <form method="post" class="needs-validation" novalidate style="width: 100%;">
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:'' }}" required>
            {% for error in form.username.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          </div>
          <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
            <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default:'' }}" required>
            {% for error in form.password.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          </div>

          <button type="submit" class="btn btn-primary">Войти</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
